.form_container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.form_container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: purple;
}

.form_group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form_group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form_group input, .form_group select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

.custom_dropdown {
    position: relative;
    width: 100%;
}

.custom_dropdown input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
}

.dropdown_list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    z-index: 10;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown_item {
    padding: 8px;
    cursor: pointer;
    color: black;
}

.dropdown_item:hover {
    /* background-color: #f1f1f1; */

}

/* Buttons */
.submit_button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.cancel_button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.confirmation {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 400px; /* Limit the modal width */
}

.confirmation p {
    margin-bottom: 20px; /* Add space between the question and buttons */
    font-size: 18px;
    font-weight: bold;
    /* color:rebeccapurple; */

}

.confirmation button {
    margin: 10px 5px; /* Add spacing between the buttons */
    padding: 10px 20px; /* Button size */
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Dimmed background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure the modal is above other elements */
}

@media (max-width: 480px) {
    
    .confirmation{
        width: 80%;
        max-width: 350px;
    }
}